<script type="text/x-template" id="step">
  <div>
    <div class="step" v-bind:style="getBackground()">
      <div class="step-id" v-html="getStepId()"></div>
    </div>
  </div>
</script>

<div class="content">
  <h3>Template title: {{ title }}</h3>

  <h3>Output</h3>
  <div id="stepslist">
    <div class="row">
      <div v-for='step in getSteps()'>
        <step :step="step" class="step-wrapper"></step>
      </div>

      <div class="no-results" v-if="getSteps().length == 0">
        {{ 'No steps possible'|t }}
      </div>
    </div>
  </div>

  <h3>Commands</h3>
  <pre>
    Drupal.behaviors.artevelde.vm.step = 3
    Drupal.behaviors.artevelde.vm.max = 100
    Drupal.behaviors.artevelde.vm.startCount = 50
  </pre>
</div>